@media (max-width: 456px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 456px;
    /* height: 100%; */
    /* width: 100vw; */
    padding: 30px 15px;
    display: flex;

    background-image: url(/public//telephone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 457px) {
  .container {
    min-width: 457px;
    display: flex;
    margin: auto;
    margin-left: auto;
    padding: 30px 15px;

    /* width: 100vw; */

    background-image: url(/public//telephone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 534px) {
  .conatiner__position {
    margin-left: auto;
    max-width: 456px;
    padding: 0;
  }
}
.conatiner__position {
  margin-left: auto;
  max-width: 600px;
  padding-right: 30px;
}
.label {
  display: flex;
  /* margin-right: 15px; */
  margin-bottom: 25px;

  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #337bae;
}

.input {
  /* display: block; */
  margin-left: auto;
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: #1a405f;
  text-align: center;
  border-radius: 15px;
  border: none;

  background-color: #fcfcfa;
}

.title {
  font-size: 56px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #337bae;

  text-align: center;
}

.title__secondary {
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #337bae;

  text-align: center;
}
