Input__name {
  margin-left: 25px;
}

.button {
  height: 40px;
  width: 200px;
  padding: 0 20px;

  margin-left: auto;
  margin-right: auto;

  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: #fcfcfa;
  text-align: center;

  background-color: #337bae;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #1a405f;
}

.form {
  display: flex;
  flex-direction: column;
  width: 360 px;
  margin-left: auto;
  margin-right: auto;
}
